button{
  appearance: none;
  background:"none";
  border:none;
  outline:none;
  cursor: pointer;

}
input{
  outline: 1px solid lightgray;
}

input:focus{
  border: 1px solid lightgray;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}

